body {
  margin: 0;
  background: #000000;
  color: #E5F9FF;
  font-family: "Share Tech Mono", monospace;
  overflow-x: hidden;
  cursor: none; /* HIDE NORMAL CURSOR EVERYWHERE 🚀 */
}

/* Neon Cursor Dot */
.cursor-dot {
  width: 14px;
  height: 14px;
  background: #4fd6ff;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 5000;
  box-shadow: 0 0 18px #4fd6ff, 0 0 38px #4fd6ff;
}

/* Canvas used for particle trail */
#cursorTrail {
  position: fixed;
  inset: 0;
  z-index: 4999;
  pointer-events: none;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  width: 50px;
}
nav {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

nav a {
  color: #bdefff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover, .active {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding-top: 150px;
}

.hero-img {
  width: 220px;
  filter: drop-shadow(0 0 35px #00e9ff);
  animation: fadeDown 1s ease-out forwards;
  opacity: 0;
}

.glow-title {
  margin-top: 20px;
  font-size: 45px;
  font-family: 'Orbitron';
  text-shadow: 0 0 20px #00faff;
}

.glow-sub {
  font-size: 16px;
  opacity: 0.85;
  margin-top: -5px;
}

/* Sections */
.card {
  width: 70%;
  margin: 40px auto;
  background: rgba(0,0,0,0.9);
  border: 2px solid #00faff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 0 35px #00d9ff;
}

/* Animations */
@keyframes fad
