body {
  margin: 0;
  background: #000000;
  color: #E5F9FF;
  font-family: "Share Tech Mono", monospace;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  width: 50px;
}

nav {
  display: flex;
  gap: 25px;
  justify-content: center; /* centers all links */
  align-items: center;
  flex-wrap: wrap; /* ensures no link disappears */
  padding: 20px 0;
}

nav a {
  color: #c5c7f7;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease;
}

nav a:hover {
  color: #00eaff; /* neon blue hover */
  text-shadow: 0 0 8px #00eaff;
}

nav a.active {
  color: #00eaff;
  font-weight: bold;
  text-shadow: 0px 0px 10px #00eaff;
}
nav a {
  padding-bottom: 4px;
}

nav a.active,
nav a:hover {
  border-bottom: 2px solid #00eaff;
}



.brand-name {
  font-family: 'Orbitron';
  font-size: 20px;
  margin: 0;
  color: #44e8ff;
  text-shadow: 0 0 10px #39d2ff;
}

.brand-role {
  font-size: 12px;
  margin: 0;
  opacity: 0.7;
}

nav a {
  color: #bdefff;
  margin-left: 18px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover, .active {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding-top: 150px;
}

.hero-img {
  width: 220px;
  filter: drop-shadow(0 0 35px #00e9ff);
  animation: fadeDown 1s ease-out forwards;
  opacity: 0;
}

.glow-title {
  margin-top: 20px;
  font-size: 45px;
  font-family: 'Orbitron';
  text-shadow: 0 0 20px #00faff;
}

.glow-sub {
  font-size: 16px;
  opacity: 0.85;
  margin-top: -5px;
}

/* Sections */
.card {
  width: 70%;
  margin: 40px auto;
  background: rgba(0,0,0,0.9);
  border: 2px solid #00faff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 0 35px #00d9ff;
}

/* Animations */
@keyframes fadeDown {
  to { opacity: 1; transform: translateY(0); }
  from { opacity: 0; transform: translateY(-20px); }
}

/* Footer */
footer {
  text-align: center;
  padding: 25px 0;
  opacity: 0.6;
}
